apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: durga-streaming-app
  region: eu-west-2
  version: "1.30"

vpc:
  id: vpc-0376ebe6043cd8004  # Use existing default VPC
  cidr: 172.31.0.0/16
  subnets:
    public:
      eu-west-2a:
        id: subnet-0c1f2e3b4d5e6f7a8  # Default public subnet
      eu-west-2b:
        id: subnet-0f7e6d5c4b3a2190  # Default public subnet
      eu-west-2c:
        id: subnet-0a1b2c3d4e5f6g7h8  # Default public subnet

nodeGroups:
  - name: standard-nodes
    desiredCapacity: 3
    minSize: 3
    maxSize: 10
    instanceType: t3.medium
    spot: false
    labels:
      role: worker
    tags:
      Name: durga-streaming-app-nodes
    managedPolicy: true

iam:
  withOIDC: true

addons:
  - name: vpc-cni
    version: latest
  - name: coredns
    version: latest
  - name: kube-proxy
    version: latest
  - name: aws-ebs-csi-driver
    version: latest
